.nav{
    display: flex;
    justify-content: right;
}

.login{
    margin-right: 40px;
    padding: 5px 5px;   
}
.login:hover{
    cursor: pointer;
}

.signup{
    margin-right: 40px;
    padding: 5px 5px;
}
.signup:hover{
    cursor: pointer;
}

#home-page-image {
    margin-left: 450px;
    margin-top: 10px;
    width: 1000px;
    height: 750px
    
}